<div class="page__content page__content_grey">
  <div class="page__wrapper">
    <div class="page__main">
      <div class="page__inner">
        <div class="log-reg">
          <img class="log-reg__logo" src="<%= asset_path 'logo.svg' %>" alt="logo">
          <div class="log-reg__form">
            <%= form_tag clients_confirmation_path, method: :post do |f| %>
              <div class="log-reg__form-top">
                <h2 class="log-reg__title">Подтверждение аккаунта</h2>
                <% if params[:redirect] == 'resend' %>
                  <div>Вам отправлен новый код</div>
                <% end %>
                <% if params[:redirect] == 'incorrect_code' %>
                  <div style="color: red;">Неверный код</div>
                <% end %>
                <div class="form-item form__item">
                  <div class="form-item__label">
                    <label class="label" for="confirmation__code">SMS код:</label>
                  </div>
                  <div class="form-item__control">
                    <span class="input input_block input_inline input_style_default">
                      <%= text_field_tag :code, '', required: true, autofocus: true, class: 'form-control form-control_type_input input__control' %>
                    </span>
                  </div>
                </div>
                <div class="form__submit">
                  <%= submit_tag 'Отправить', class: 'button button_block button_color_blue button_size_large button_style_solid button_style_rounded' %>
                </div>
                <div class="form__links">
                  <%= link_to 'Не пришел код', clients_resend_confirmation_path, class: 'form__links-item', method: :post %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
