<div class="page__top">
  <div class="page__inner">
    <div class="bread-crumbs">
      <ul class="bread-crumbs__list">
        <li class="bread-crumbs__item">
          <a class="bread-crumbs__link" href="<%= root_path %>">Главная</a>
          <div class="bread-crumbs__separator">
            <svg class="icon icon_arrow-right" role="img">
              <title>separator</title>
              <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
            </svg>
          </div>
        </li>
        <li class="bread-crumbs__item">Личный кабинет</li>
      </ul>
    </div>
    <h1 class="page-title">Личный кабинет</h1>
  </div>
</div>
<div class="page__main">
  <div class="page__inner page__inner_flex">
    <%= render 'layouts/client_sidebar' %>
    <div class="page__content-col">
      <div class="cabinet-content">
        <div class="cabinet-content__section">
          <div class="cabinet-content__item">
            <div class="image-message image-message_color_gray" id="close">
              <button class="button image-message__close" type="button" onclick="hide('close')">
                <svg class="icon icon_close-mini" role="img">
                  <title>close</title>
                  <use xlink:href="<%= asset_path 'icons.svg#close-mini' %>"></use>
                </svg>
              </button>
              <div class="image-message__left">
                <img src="<%= asset_path 'image-message__office-material.svg' %>" alt="image">
              </div>
              <div class="image-message__right">
                <h3 class="image-message__blue-title">Юридическим лицам</h3>
                <div class="image-message__text">Если вы являетесь представителем организации, то для ускорения обработки заказа необходимо предоставить информацию о вашей организации.
                  <%= link_to "Заполнить данные", edit_client_registration_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cabinet-content__section">
          <h2 class="cabinet-content__section-title">Информация по заказам</h2>
          <div class="info-cards-list">
            <div class="info-cards-list__item">
              <div class="info-card-item">
                <div class="info-card-item__head">
                  <h3 class="info-card-item__title">Моя корзина:</h3>
                  <a class="button info-card-item__more" href="<%= cart_index_path %>">
                    <svg class="icon icon_arrow-right" role="img">
                      <title>more</title>
                      <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
                    </svg>
                  </a>
                </div>
                <div class="info-card-item__content">
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Заказано деталей:
                      <span><%= @ordered_details %> шт.</span>
                    </div>
                  </div>
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Количество:
                      <span><%= @details_quantity %> шт.</span>
                    </div>
                  </div>
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">На сумму:
                      <span><%= @sum_for_cart %> сом</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-cards-list__item">
              <div class="info-card-item">
                <div class="info-card-item__head">
                  <h3 class="info-card-item__title">Мои детали:</h3>
                  <a class="button info-card-item__more" href="<%= details_path %>">
                    <svg class="icon icon_arrow-right" role="img">
                      <title>more</title>
                      <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
                    </svg>
                  </a>
                </div>
                <div class="info-card-item__content">
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Всего деталей:
                      <span><%= @details_count %> шт.</span>
                    </div>
                  </div>
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Конструктор:
                      <span><%= @constructor_details_count %> шт.</span>
                    </div>
                  </div>
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Загруженно:
                      <span><%= @custom_details_count %> шт.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-cards-list__item">
              <div class="info-card-item">
                <div class="info-card-item__head">
                  <h3 class="info-card-item__title">Мои заказы:</h3>
                  <a class="button info-card-item__more" href="<%= individual_orders_path %>">
                    <svg class="icon icon_arrow-right" role="img">
                      <title>more</title>
                      <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
                    </svg>
                  </a>
                </div>
                <div class="info-card-item__content">
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Всего:
                      <span><%= @orders_count %></span>
                    </div>
                  </div>
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">Завершенные:
                      <span><%= @compaleted_orders_count %></span>
                    </div>
                  </div>
                  <div class="info-card-item__item">
                    <div class="info-card-item__text">На сумму:
                      <span><%= @sum_for_orders %> сом</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
