<div class="page__wrapper">
  <div class="page__top">
    <div class="page__inner">
      <div class="bread-crumbs">
        <ul class="bread-crumbs__list">
          <li class="bread-crumbs__item">
            <a class="bread-crumbs__link" href="<%= root_path %>">Главная</a>
            <div class="bread-crumbs__separator">
              <svg class="icon icon_arrow-right" role="img">
                <title>separator</title>
                <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
              </svg>
            </div>
          </li>
          <li class="bread-crumbs__item">Доставка и оплата</li>
        </ul>
      </div>
      <h1 class="page-title">Доставка и оплата</h1>
      <script>document.title="Доставка и оплата"</script>
    </div>
  </div>
  <div class="page__main">
    <div class="page__inner page__inner_flex page__inner_reversed">
      <%= render partial: 'shared/sidebar' %>
      <div class="page__content-col">
        <div class="tabs tabs_style_default tabs_blue tabs_big" data-tabs-name="delivery-tabs">
          <span class="tabs__description visuallyhidden" data-tabs-description="data-tabs-description">Use left and right arrows to navigate between tabs.</span>
          <div class="tabs__head">
            <button class="tabs__tab" type="button" data-tab-id="delivery-conditions">
              <span class="tabs__title">Условия доставки</span>
            </button>
            <button class="tabs__tab" type="button" data-tab-id="payment-conditions">
              <span class="tabs__title">Условия оплаты</span>
            </button>
          </div>
          <div class="tabs__body">
            <div class="tabs__panel" data-panel-id="delivery-conditions">
              <div class="accordion">
                <% @deliveries.each do |delivery| %>
                  <div class="accordion__item">
                    <div class="accordion__item" data-accordion-item>
                      <button class="accordion__trigger" type="button" data-accordion-trigger="data-accordion-trigger">
                        <span class="accordion__caret">
                          <svg class="icon icon_accordion-arrow accordion__caret-icon" role="img">
                            <title>caret</title>
                            <use xlink:href="<%= asset_path 'icons.svg#accordion-arrow' %>"></use>
                          </svg>
                        </span>
                        <span class="accordion__title"><%= delivery.title %></span>
                        <span class="accordion__text"><%= delivery.description %></span>
                      </button>
                      <div class="accordion__pannel content-wrapper">
                        <div class="accordion__inner">
                          <%= delivery.content %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tabs__panel" data-panel-id="payment-conditions">
              <div class="accordion">
                <% @payments.each do |delivery| %>
                  <div class="accordion__item">
                    <div class="accordion__item" data-accordion-item>
                      <button class="accordion__trigger" type="button" data-accordion-trigger="data-accordion-trigger">
                        <span class="accordion__caret">
                          <svg class="icon icon_accordion-arrow accordion__caret-icon" role="img">
                            <title>caret</title>
                            <use xlink:href="<%= asset_path 'icons.svg#accordion-arrow' %>"></use>
                          </svg>
                        </span>
                        <span class="accordion__title"><%= delivery.title %></span>
                        <span class="accordion__text"><%= delivery.description %></span>
                      </button>
                      <div class="accordion__pannel content-wrapper">
                        <div class="accordion__inner">
                          <%= delivery.content %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tabs__preloader" data-tabs-preloader="data-tabs-preloader"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
