<div class="page__content">
  <div class="page__wrapper">
    <div class="page__top">
      <div class="page__inner">
        <div class="bread-crumbs">
          <ul class="bread-crumbs__list">
            <li class="bread-crumbs__item">
              <a class="bread-crumbs__link" href="<%= root_path %>">Главная</a>
              <div class="bread-crumbs__separator">
                <svg class="icon icon_arrow-right" role="img">
                  <title>separator</title>
                  <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
                </svg>
              </div>
            </li>
            <li class="bread-crumbs__item">
              <a class="bread-crumbs__link" href="<%= cabinet_path %>">Личный кабинет</a>
              <div class="bread-crumbs__separator">
                <svg class="icon icon_arrow-right" role="img">
                  <title>separator</title>
                  <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
                </svg>
              </div>
            </li>
            <li class="bread-crumbs__item">Оформление заказа</li>
          </ul>
        </div>
        <h1 class="page-title">Оформление заказа</h1>
      </div>
    </div>
    <div class="page__main">
      <div class="page__inner">
        <div class="page__two-cols">
          <div class="page__col">
            <div class="ordering-form">
             <%= render partial: 'individual_orders/new/form' %>
            </div>
          </div>
          <div class="page__col">
            <div class="ordering-details-list">
              <div class="ordering-details-list__head">
                <div class="ordering-details-list__text">Всего деталей:
                  <span><%= @items_count %></span>
                </div>
              </div>
              <div class="ordering-details-list__content">
                <%= render partial: 'individual_orders/new/list_details' %>
              </div>
              <div class="ordering-details-list__bottom">
                <div class="ordering-details-list__text">
                  <div>
                    Итого: <span><%= @items_sum  %> сом</span>
                  </div>
                  <div>
                    Скидка клиента: <span><%= @user_discount  %> %</span>
                  </div>
                  <div>
                    Итого с учетом скидки: <span><%= @items_sum_with_user_discount %> сом</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

