<div class="page__top">
  <div class="page__inner">
    <h1 class="page-title">Спасибо, заказ успешно оформлен</h1>
  </div>
</div>
<div class="page__main">
  <div class="page__inner">
    <div class="page__two-cols">
      <div class="page__col">
        <div class="total-info">
          <div class="total-info__section">
            <div class="total-info__item">
              <span class="total-info__label">Номер заказа:</span>
              <span class="total-info__text"><%= pretty_id(@individual_order.id) %></span>
              <div class="total-info__tip">Запишите номер заказа для предъявления при оплате товара.</div>
            </div>
            <% if @individual_order.individual? %>
              <div class="total-info__item">
                <span class="total-info__label">ФИО:</span>
                <span class="total-info__text"><%= @individual_order.last_name %> <%= @individual_order.name %></span>
              </div>
              <div class="total-info__item">
                <span class="total-info__label">Электронная почта:</span>
                <span class="total-info__text"><%= @individual_order.email %></span>
              </div>
              <div class="total-info__item">
                <span class="total-info__label">Телефон:</span>
                <span class="total-info__text"><%= @individual_order.phone_number %></span>
              </div>
            <% else %>
              <div class="total-info__item">
                <span class="total-info__label">ФИО:</span>
                <span class="total-info__text"><%= @individual_order.contact_person_last_name %> <%= @individual_order.name %></span>
              </div>
              <div class="total-info__item">
                <span class="total-info__label">Электронная почта:</span>
                <span class="total-info__text"><%= @individual_order.contact_person_email %></span>
              </div>
              <div class="total-info__item">
                <span class="total-info__label">Телефон:</span>
                <span class="total-info__text"><%= @individual_order.contact_person_phone_number %></span>
              </div>
            <% end %>
            <div class="total-info__item">
              <span class="total-info__label">Тип доставки:</span>
              <span class="total-info__text"><%= convert_delivery_method(@individual_order) %></span>
            </div>
            <% if @individual_order.delivery_method == 'delivery' %>
              <div class="total-info__item">
                <span class="total-info__label">Регион, город:</span>
                <span class="total-info__text"><%= @individual_order.city %></span>
              </div>
              <div class="total-info__item">
                <span class="total-info__label">Адрес доставки</span>
                <span class="total-info__text"><%= @individual_order.delivery_address %></span>
              </div>
            <% end %>
            <div class="total-info__item">
              <span class="total-info__label">Тип оплаты:</span>
              <span class="total-info__text">Наличными</span>
            </div>
          </div>
          <div class="total-info__section">
            <div class="total-info__tip">* Если в контактных данных для оформления заказа Вы заметили ошибку, пожалуйста, свяжитесь с нашим менеджером для исправления информации.</div>
          </div>
          <div class="total-info__section">
            <div class="total-info__add-info">Дополнительную информацию Вы можете получить по телефону:
              <br>
              <span>+996 551 15 50 69</span>
            </div>
          </div>
          <div class="total-info__section">
            <a class="button button_icon button_color_blue button_size_medium button_style_gradient button_style_solid button_style_rounded" href="thx.pdf">
              <svg class="icon icon_print" role="img">
                <title>print</title>
                <use xlink:href="<%= asset_path 'icons.svg#print' %>"></use>
              </svg>
              <span>Распечать бланк заказа</span>
            </a>
          </div>
          <a class="total-info__back" href="/">Вернуться на главную</a>
        </div>
      </div>
      <div class="page__col">
        <div class="ordering-details-list">
          <div class="ordering-details-list__head">
            <div class="ordering-details-list__text">
              <span>Товары в заявке:</span>
            </div>
          </div>
          <div class="ordering-details-list__content">
            <% @individual_order.individual_items.each do |individual_item| %>
              <div class="ordering-details-list__item">
                <div class="ordering-detail-item">
                  <div class="ordering-detail-item__draft">
                    <%== individual_item.svg %>
                    <button class="detail-card-item__draft-zoom" type="button" data-micromodal-trigger="modal<%= individual_item.id %>">
                      <svg class="icon icon_zoom" role="img">
                        <title>zoom</title>
                        <use xlink:href="<%= asset_path 'icons.svg#zoom' %>"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="ordering-detail-item__info">
                    <div class="ordering-detail-item__info-item">
                      <% if individual_item.load_type == 'constructor' %>
                          <div class="ordering-detail-item__label">Конструктор деталей</div>
                      <% else %>
                          <div class="ordering-detail-item__label">Загруженная деталь</div>
                      <% end %>
                      <div class="ordering-detail-item__text"><%= individual_item.name %></div>
                    </div>
                    <div class="ordering-detail-item__info-item">
                      <div class="ordering-detail-item__label"><%= individual_item.count %> шт.</div>
                      <div class="ordering-detail-item__text">
                        <span><%= individual_item.price %> сом</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal modal_animation_slide" id="modal<%= individual_item.id %>" aria-hidden="true">
                <div class="modal__overlay" tabindex="-1" data-micromodal-close="data-micromodal-close">
                  <div class="modal__container">
                    <div class="dialog" id="dialog1" role="dialog" aria-modal="true" aria-labelledby="dialog1-dialog__title">
                      <header class="dialog__header">
                        <h2 class="dialog__title" id="dialog1-dialog__title"><%= individual_item.name %></h2>
                        <button class="dialog__close" type="button" data-micromodal-close="data-micromodal-close">
                          <svg class="icon icon_close" role="img" data-micromodal-close="data-micromodal-close">
                            <title>Close</title>
                            <use xlink:href="<%= asset_path 'icons.svg#close' %>"></use>
                          </svg>
                          <span class="visuallyhidden">Close this dialog window</span>
                        </button>
                      </header>
                      <main class="dialog__content">
                        <div class="ta-center padding-bottom-20">
                          Длина: <%= individual_item.height %> мм. /
                          Ширина: <%= individual_item.width %> мм.
                        </div>
                        <div class="modal-draft-view">
                          <div class="modal-draft-view__wrapper">
                            <%== individual_item.svg %>
                          </div>
                        </div>
                      </main>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="ordering-details-list__bottom">
            <div class="ordering-details-list__text">
              <div>
                Сумма к оплате: <span><%= @items_sum %> сом</span>
              </div>
              <div>
                Скидка клиента: <span><%= @user_discount %> %</span>
              </div>
              <div>
                Итого к оплате с учетом скидки: <span><%= @items_sum_with_user_discount %> сом</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
