<div class="page__top">
  <div class="page__inner">
    <div class="bread-crumbs">
      <ul class="bread-crumbs__list">
        <li class="bread-crumbs__item">
          <a class="bread-crumbs__link" href="<%= root_path %>">Главная</a>
          <div class="bread-crumbs__separator">
            <svg class="icon icon_arrow-right" role="img">
              <title>separator</title>
              <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
            </svg>
          </div>
        </li>
        <li class="bread-crumbs__item">
          <a class="bread-crumbs__link" href="<%= cabinet_path %>">Личный кабинет</a>
          <div class="bread-crumbs__separator">
            <svg class="icon icon_arrow-right" role="img">
              <title>separator</title>
              <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
            </svg>
          </div>
        </li>
        <li class="bread-crumbs__item">
          <a class="bread-crumbs__link" href="<%= edit_client_registration_path %>">Настройки профиля</a>
          <div class="bread-crumbs__separator">
            <svg class="icon icon_arrow-right" role="img">
              <title>separator</title>
              <use xlink:href="<%= asset_path 'icons.svg#arrow-right' %>"></use>
            </svg>
          </div>
        </li>
        <li class="bread-crumbs__item">Изменить пароль</li>
      </ul>
    </div>
    <h1 class="page-title">Смена пароля</h1>
  </div>
</div>
<div class="page__main">
  <div class="page__inner page__inner_flex">
    <%= render 'layouts/client_sidebar' %>
    <div class="page__content-col">
      <div class="cabinet-content">
        <%= form_for(resource, as: resource_name, url: client_update_password_path, html: { method: :put, class: 'form form_profile cabinet-content__form' }) do |f| %>
          <%= devise_error_messages! %>

          <div class="cabinet-content__section">
            <div class="cabinet-content__form-wrapper">
              <div class="form-item form__item">
                <div class="form-item__label">
                  <%= f.label :current_password, class: "label" %>
                </div>
                <div class="form-item__control">
                  <span class="input input_block input_type_text input_inline input_style_default">
                    <%= f.password_field :current_password, class: "form-control form-control_type_input input__control" %>
                  </span>
                </div>
              </div>
              <div class="form-item form__item">
                <div class="form-item__label">
                  <%= f.label :password, class: "label" %>
                </div>
                <div class="form-item__control">
                  <span class="input input_block input_type_text input_inline input_style_default">
                    <%= f.password_field :password, class: "form-control form-control_type_input input__control" %>
                  </span>
                </div>
              </div>
              <div class="form-item form__item">
                <div class="form-item__label">
                  <%= f.label :password_confirmation, class: "label" %>
                </div>
                <div class="form-item__control">
                  <span class="input input_block input_type_text input_inline input_style_default">
                    <%= f.password_field :password_confirmation, class: "form-control form-control_type_input input__control" %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="cabinet-content__section">
            <%= f.submit 'Изменить', class: 'button button_color_green button_size_large button_style_solid button_style_rounded button_style_uppercase button_style_letter-spacing' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
