<div class="top-filter">
  <div class="top-filter__left">
    <div class="top-filter__quantity">Всего заказов:
      <span><%= @orders.size %></span>
    </div>
  </div>
</div>

<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
<script src="jquery.min.js"></script>
<script>
  $('#item-form_<%= status %>').change(function(e) {
    var params = $(this).val();

    $(document).ready(function(){
      $.get('/individual_orders/filter?value=' + params + '&status=' + '<%= status %>',{},function(response){
        return response;
      })
    });
  });

  $(document).ready(function(){
    $("#search_<%= status %>").keyup(function(){
        var query = (this.value.length > 0) ? this.value : "*";
        var url = '/individual_orders/search?query=';
      status = '&status=' + "<%= status %>";

      $.get(url.concat(query, status), {}, function(response){ return response })
    });
  });
</script>